.desktop {
  background-color: #0e6743;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
}

.desktop .div {
  background-color: #0e6743;
  overflow: hidden;
  mix-blend-mode: lighten;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .judul {
  position: absolute;
  width: 313px;
  top: 65px;
  left: 54px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap {
  position: absolute;
  width: 853px;
  height: 102px;
  top: 62px;
  left: 559px;
}

.desktop .BERANDA-LAYANAN {
  position: absolute;
  width: 806px;
  top: 15px;
  left: 0;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper {
  position: absolute;
  width: 177px;
  top: 13px;
  left: 499px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle {
  position: absolute;
  width: 154px;
  height: 62px;
  top: 0;
  left: 629px;
  background-color: #d9d9d9;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 194px;
  top: 13px;
  left: 659px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #1e6743;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .img {
  position: absolute;
  width: 141px;
  height: 70px;
  top: 403px;
  left: 1877px;
}

.desktop .overlap-group {
  position: absolute;
  width: 1332px;
  height: 763px;
  top: 261px;
  left: 108px;
}

.desktop .overlap-group-2 {
  position: absolute;
  width: 1332px;
  height: 763px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 833px;
  top: 0;
  left: 6px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rumah-impian-hadir {
  position: absolute;
  width: 839px;
  top: 160px;
  left: 0;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 744px;
  height: 579px;
  top: 184px;
  left: 588px;
  object-fit: cover;
}

.desktop .div-wrapper {
  position: absolute;
  width: 343px;
  height: 123px;
  top: 270px;
  left: 7px;
  background-color: #d9d9d9;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 267px;
  top: 43px;
  left: 38px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #1e6743;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 97px;
  height: 16px;
  top: 287px;
  left: 382px;
  background-color: #d9d9d9;
  transform: rotate(45deg);
}

.desktop .rectangle-4 {
  position: absolute;
  width: 81px;
  height: 81px;
  top: 314px;
  left: 391px;
}
